body {
  background-color: blue;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
}

.App .ant-list,
h1 {
  margin: 30px;
}

h1 {
  color: white;
}

.ant-empty-image,
.ant-empty-description {
  display: none;
}
